{% extends 'productos/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/carrito.css' %}">
{% endblock %}

{% block content %}
<div class="contenido-carrito">
    <div class="carrito-panel">
        <h1 class="titulo-carrito">Mi Carrito</h1>
        {% if carrito.carritoproducto_set.all %}
        <table class="carrito-tabla">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrito.carritoproducto_set.all %}
                <tr>
                    <td>{{ item.producto.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>${{ item.producto.precio }}</td>
                    <td>${{ item.subtotal }}</td>
                    <td>
                        {% if item.producto.stock == 0 %}
                            <span class="sin-stock">Sin Stock</span>
                        {% elif item.cantidad >= item.producto.stock %}
                            <span class="stock-bajo">Máximo disponible</span>
                        {% else %}
                            <a class="btn-carrito" href="{% url 'agregar_al_carrito' item.producto.id %}">+</a>
                        {% endif %}
                        <a class="btn-carrito eliminar" href="{% url 'eliminar_del_carrito' item.producto.id %}">-</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="total-botones-container">
    <p>Total: ${{ total }}</p>
    <div class="botones-carrito">
        <a href="{% url 'lista_productos' %}">Seguir comprando</a>
        <a href="{% url 'checkout' %}">Ir al Checkout</a>
        <a href="{% url 'vaciar_carrito' %}">Vaciar carrito</a>
    </div>
</div>
        {% else %}
            <p>No hay productos en el carrito.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
