{% extends 'productos/base.html' %}
{% load static %}  {# <--- agregar esta línea #}

{% block head %}
<link rel="stylesheet" href="{% static 'css/mi_cuenta.css' %}">
{% endblock %}

{% block content %}
<div class="mi-cuenta-container">
    <div class="mi-cuenta-card">
        <h2 class="mi-cuenta-title">Mi Cuenta</h2>
        <div class="mi-cuenta-botones">
            <a class="btn-cuenta" href="{% url 'editar_datos_usuario' %}">Editar mis datos</a>
            <a class="btn-cuenta" href="{% url 'historial_compras' %}">Ver historial de compras</a>
        </div>
    </div>
</div>
{% endblock %}
